# Python virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# Logs & temp files
*.log
*.tmp
*.swp

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db


# IDE BERT related files
src/securebert-iot/


## other folders to ignore
src/cve_classifier_results/
src/cve_classifier_model/
src/models
cvelistV5/

# Ignore .csv files with potentially sensitive data
# *.csv
